<div class="wrapper">
  <div class="container-title"
       (mouseup)="onMiniChange($event)">
    <h4>Keyboard
      <span class="title-arrow glyphicon"
            [class.glyphicon-collapse-up]="miniMode"
            [class.glyphicon-collapse-down]="!miniMode"></span>
    </h4>
  </div>

  <div id="keyboard" [class.mini]="miniMode">

    <div id="keyboard-up-collapse">
      <div id="keyboard-up" [style.width.px]="keyboardKeys.scrollWidth">
        <div class="well settings">
          <label>Instrument</label>
          <div class="button-group">
            <select [(ngModel)]="activeInstrument"
                    (change)="onInstrumentChange()">
              <option *ngFor="let instrument of instruments" [ngValue]="instrument">{{instrument.name}}</option>
            </select>
            <div class="select-action" (click)="openSettings()">
              <span class="glyphicon glyphicon-cog"></span>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div #keyboardKeys id="keyboard-keys">
      <app-keyboard-key *ngFor="let note of notes"
                        [note]="note"
                        [highlighted]="highlights[note.index]"
                        (keyStateUpdated)="onKeyStateUpdated($event)"></app-keyboard-key>
    </div>

  </div>
</div>
