<div id="topnav" (clickOutside)="onClickOutside()">
  <ul class="navbar">

    <li>
      <a id="logo-holder" [class.selected]="isVisible('about')" (click)="showNav('about')">
        <img src="assets/img/icon/main-32.png" width="32px" height="32px"/>
        <span> Synthusic</span>
      </a>
    </li>
    <li>
      <a [class.selected]="isVisible('room')" [class.new-message]="newChatMessages"
         (click)="showNav('room')">
        <span class="glyphicon glyphicon-user"></span> Room</a>
    </li>
    <li>
      <a [class.selected]="isVisible('settings')" (click)="showNav('settings')">
        <span class="glyphicon glyphicon-wrench"></span> Settings</a>
    </li>

    <li *ngIf="isOffline$ | async" class="right offline-mode glyphicon-rotating">
      <a (click)="reloadPage()">
        <span class="glyphicon glyphicon-refresh"></span> Offline mode</a>
    </li>
  </ul>

  <app-navbar-content-holder></app-navbar-content-holder>
</div>
