#topnav {
  position   : relative;
  width      : 100%;
  z-index    : 99;
  color      : #ddd;
  background : rgb(70, 70, 70);
  box-shadow : 0 2px 10px 0 rgba(0, 0, 0, .15);
}

#topnav .navbar {
  min-height      : 0;
  border          : 0;
  margin          : 0;
  padding         : 0;
  font-family     : "Segoe UI", Arial, sans-serif;
  font-size       : 17px;
  font-weight     : 300;
  overflow        : hidden;
  list-style-type : none;
}

@media (min-width : 992px) {
  #topnav .navbar {
    padding : 0 240px;
  }
}

.navbar li {
  float : left;
}

@media (max-width : 991px) {
  .navbar li {
    display    : block;
    width      : 100%;
    text-align : center;
  }
}

.navbar li a {
  color           : inherit;
  cursor          : pointer;
  text-decoration : none;
  display         : block;
  padding         : 14px 15px;
  letter-spacing  : 1px;
  line-height     : 1;
  transition      : background .3s, color .4s;
}

li a.selected {
  background : rgb(39, 39, 39);
}

.navbar li a:hover {
  background-color : #000;
  color            : #fff;
}

#logo-holder {
  padding : 7px 15px;
}

#logo-holder span {
  position : relative;
  top      : 3px;
}

.navbar li.right {
  float : right;
}

.new-message {
  background-color : rgba(65, 195, 126, 0.57);
  animation        : newMessage 1s linear 2;
}

@keyframes newMessage {
  0% {
    background-color : transparent;
  }
  50% {
    background-color : rgba(65, 195, 126, 0.57);
  }
  100% {
    background-color : transparent;
  }
}

.offline-mode {
  animation : alertBackground 2s linear 5;
}

@keyframes alertBackground {
  0% {
    background-color : transparent;
  }
  50% {
    background-color : rgba(133, 58, 61, 0.57);
  }
  100% {
    background-color : transparent;
  }
}

.nav-content {
  position   : relative;
  width      : 100%;
}
