<div id="topnav" (clickOutside)="onClickOutside()">
  <ul class="navbar">

    <li>
      <a id="logo-holder"
         [routerLink]="[{ outlets: { navbar: ['about'] } }]"
         routerLinkActive="selected">
        <img src="assets/img/icon/main-32.png" width="32px" height="32px"/>
        <span> Synthusic</span>
      </a>
    </li>
    
    <li>
      <a [routerLink]="[{ outlets: { navbar: ['room'] } }]"
         routerLinkActive="selected"
         [class.new-message]="newChatMessages">
        <span class="glyphicon glyphicon-user"></span> Room</a>
    </li>
    
    <li>
      <a [routerLink]="[{ outlets: { navbar: ['settings'] } }]"
         routerLinkActive="selected">
        <span class="glyphicon glyphicon-wrench"></span> Settings</a>
    </li>

    <li *ngIf="isOffline$ | async" class="right offline-mode glyphicon-rotating">
      <a (click)="reloadPage()">
        <span class="glyphicon glyphicon-refresh"></span> Offline mode</a>
    </li>
  </ul>
  
  <div class="nav-content"
       [@fadeCornerAnimation]="getRouterOutletState(o)">
    <router-outlet #o="outlet" name="navbar"></router-outlet>
  </div>
  
</div>
