h2 {
  margin      : 0 0 25px 0;
  color       : white;
  line-height : 1;
  text-shadow : #333 0 0 1px, #333 0 0 1px, #333 0 0 1px, #333 0 0 1px;
}

.room-list {
  max-height       : 40vh;
  padding          : 0;
  margin           : 0;
  border           : 1px solid hsla(208, 100%, 94%, 1);
  overflow         : auto;
  background-color : rgba(0, 0, 0, 0.01);
}

.new-room-label {
  border-bottom : 1px dotted black;
  cursor        : pointer;
}

li {
  padding         : 6px;
  cursor          : pointer;
  list-style-type : none;
  transition      : .1s;
}

li:hover {
  background-color : rgba(13, 13, 13, 0.05);
}

.user-count {
  color : #b3b3b3;
}

.new-room-btn {
  position      : relative;
  top           : 20px;
  margin-bottom : 10px;
}
