/* Settings */

#settings {
	background : rgba(100, 100, 100, 0.5);
	color      : #ddd;
}

#settings .btn {
	background   : rgba(100, 100, 100, 0.5);
	color        : #ddd;
	border-color : #3a3a3a;
}

.label-value {
	float : right;
}

.scale-settings {
	display : inline-block;
}

/* /Settings */

/* State */

#state-container {
	background : rgba(100, 120, 100, 0.5);
	color      : #ddd;
}

/* /State */

#instr-container {
	background : url(../img/woodtexture8.jpg);
}

.container-ru-corner#note-info {
	float            : right;
	display          : inline-block;
	min-width        : 100px;
	width            : 100%;
	background-color : rgba(165, 124, 94, 0.7);
	border           : 1px solid rgb(101, 64, 38);
}

@media (max-width : 991px) {
	.container-ru-corner#note-info {
		display : none
	}
}

/* Keyboard */
#keyboard {
	height        : 504px;
	margin-bottom : 15px;
	border        : 5px solid #582E16;
	max-width     : 100%;
	transition    : all 0.5s ease;
	overflow-x    : auto;
	overflow-y    : hidden;
	white-space   : nowrap;
	border-radius : 3px;
}

#keyboard-up {
	background : url(../img/piano-up.jpg);
	cursor     : pointer;
	height     : 204px;
}

.key {
	position   : relative;
	border     : 1px solid;
	display    : inline-block;
	cursor     : pointer;
	box-sizing : border-box;
}

.key-white {
	width            : 6%; /*17 white keys on the screen*/
	background-color : #fff;
	height           : 300px;
	z-index          : 1;
}

@media (max-width : 991px) {
	.key-white {
		width : 10%; /*10 white keys on the screen on small devices*/
	}
}

.key-black {
	width            : 36px;
	vertical-align   : top;
	background-color : #000;
	height           : 200px;
	margin           : 0 -18px;
	z-index          : 2;
	box-shadow       : 0 0 10px rgba(0, 0, 0, 0.5);
}

.key-black:before {
	top        : -50px;
	left       : 15px;
	content    : " ";
	height     : 50px;
	width      : 0.01px;
	position   : absolute;
	transform  : skewX(-10deg);
	box-shadow : 0 0 50px 10px #000;
}

.playing {
	background-color : #b3ffad;
}

.playing.key-white {
	box-shadow : inset 0 0 12px 1px rgba(0, 0, 0, 0.2);
}

.key.selected {
	background-color : #ccc;
}

#keyboard.keyboard-mini {
	height : 120px;
}

.keyboard-mini .key-white {
	height : 100%;
}

.keyboard-mini .key-black {
	height     : 60%;
	box-shadow : 0 0 5px rgba(0, 0, 0, 0.5);
}

.keyboard-mini .key-black:before {
	box-shadow : 0 0 0 0 #000;
}

#keyboard::-webkit-scrollbar {
	width  : 10px;
	height : 24px;
}

#keyboard::-webkit-scrollbar-track {
	background : url(../img/piano-down.jpg);
}

#keyboard::-webkit-scrollbar-thumb {
	background-color : rgba(88, 46, 22, 0.7);
}

/* /Keyboard */

/* Oscilloscope */
#oscilloscope {
	background : rgba(141, 195, 138, 0.95);
}

#oscilloscope-wrapper {
	margin-top : 15px;
	position   : relative;
	padding    : 30px 40px;
}

#oscilloscope-settings {
}

.osc-canvas {
	border-radius : 30px;
	box-shadow    : 0 0 40px 30px rgba(0, 0, 0, 0.25);
}

/* /Oscilloscope */

/* Common */

.background-image {
	background              : url(../img/piano.jpg);
	z-index                 : -1;
	width                   : 100%;
	height                  : 100%;
	position                : fixed;
	bottom                  : 0;
	-webkit-background-size : cover;
}

.content {
	margin : 40px 0;
}

.dropdown-menu>li>a.selected {
	background: #f5f5f5;
}
.dropdown-menu>li>a.selected:focus, .dropdown-menu>li>a.selected:hover {
	background: #eee;
}

.container-block {
	border-radius : 5px;
	margin-bottom : 5px;
}

.container-title {
	font-size     : 24px;
	border-bottom : 1px solid;
	margin-bottom : 10px;
	cursor        : pointer;
}

.inline-block {
	display : inline-block;
}

.hidden {
	display : none;
}

.list-group-item {
	background-color : inherit !important;
	border           : inherit !important;;
}

.title-arrow {
	float  : right;
	cursor : pointer;
}

.title-arrow-up {
	border              : 14px solid transparent;
	border-top          : 0;
	border-bottom-color : #6ea972;
}

.title-arrow-down {
	border           : 14px solid transparent;
	border-bottom    : 0;
	border-top-color : #6ea972;
}

.input-progress-bar {
	font-size     : 0;
	border        : 1px solid black;
	border-radius : 3px;
	background    : rgba(240, 240, 240, 0.1);
}

input[type=range] {
	-webkit-appearance : none;
	margin             : 14px 0 14px 0;
	height             : 22px;
	background         : transparent;
}

input[type=range]:focus {
	outline : none;
}

input[type=range]:focus::-webkit-slider-runnable-track {
	background : #367ebd;
}

input[type=range][disabled]::-webkit-slider-runnable-track {
	background : #aaa;
}

input[type=range][disabled]::-webkit-slider-thumb {
	background : #ddd;
}

input[type=range]::-webkit-slider-runnable-track {
	width      : 100%;
	height     : 8px;
	cursor     : pointer;
	background : #3071a9;
	border     : 1px solid #010101;
}

input[type=range]::-webkit-slider-thumb {
	box-shadow         : 1px 1px 1px #000000, 0 0 1px #0d0d0d;
	border             : 1px solid #000000;
	height             : 30px;
	width              : 16px;
	border-radius      : 3px;
	background         : #ffffff;
	cursor             : pointer;
	-webkit-appearance : none;
	margin-top         : -13px;
}

/* /Common */