#topnav {
  width      : 100%;
  background : rgb(70, 70, 70);
  color      : #ddd;
  box-shadow : 0 2px 10px 0 rgba(0, 0, 0, .15);
  z-index    : 99;
}

#topnav .navbar {
  list-style-type : none;
  margin          : 0;
  padding         : 0;
  font-family     : "Segoe UI", Arial, sans-serif;
  font-weight     : 300;
  overflow        : hidden;
  min-height      : 0;
  border          : 0;
  font-size       : 17px;
}

@media (min-width : 992px) {
  #topnav .navbar {
    padding : 0 240px;
  }
}

.navbar li {
  float : left;
}

@media (max-width : 991px) {
  .navbar li {
    display    : block;
    width      : 100%;
    text-align : center;
  }
}

.navbar li a {
  color           : inherit;
  cursor          : pointer;
  text-decoration : none;
  display         : block;
  padding         : 10px 15px 11px 15px;
  letter-spacing  : 1px;
  transition      : background .3s, color .4s;
}

li a.selected {
  background       : rgb(39, 39, 39);
}

.navbar li a:hover {
  background-color : #000;
  color            : #fff;
}

#logo-holder {
  padding : 6px 20px !important;
}

.navbar li.right {
  float : right;
}

.offline-mode {
  animation : alertBackground 2s linear 5;
}

.nav-content {
  position : relative;
  width    : 100%;
}

.navmenu {
  position   : absolute;
  width      : 100%;
  max-height : calc(100vh - 45px);
  overflow-y : auto;
  transition : visibility .3s, opacity .3s;
  z-index    : 10;
  opacity    : 1;
  visibility : visible;
  background : rgba(60, 60, 60, .9);
  color      : #ddd;
  padding    : 24px 48px;
}

.nav-collapse {
  opacity    : 0;
  visibility : hidden;
}

@keyframes alertBackground {
  0% {
    background-color : transparent;
  }
  50% {
    background-color : rgba(133, 58, 61, 0.57);
  }
  100% {
    background-color : transparent;
  }
}
