<div id="topnav">
  <ul class="navbar">
    <li>
      <a id="logo-holder">
        <div class="logo"></div>
      </a>
    </li>
    <li>
      <a (click)="showNav('chat')">Chat (todo)</a>
    </li>
    <li>
      <a (click)="showNav('rooms')">Rooms (todo)</a>
    </li>
    <li>
      <a (click)="showNav('settings')">Settings</a>
    </li>
  </ul>
</div>
<div class="navmenu" [class.nav-collapse]="!visible.get('chat')">
  <app-chat></app-chat>
</div>
<div class="navmenu" [class.nav-collapse]="!visible.get('settings')">
  <app-settings></app-settings>
</div>
