<div id="topnav">
  <ul class="navbar">
    <li>
      <a id="logo-holder">
        <img src="assets/img/favicon_lowres.png" width="32px" height="32px"/>
      </a>
    </li>
    <li>
      <a (click)="showNav('room')">Room</a>
    </li>
    <li>
      <a (click)="showNav('settings')">Settings</a>
    </li>

    <li *ngIf="loaderService.offlineMode" class="right offline-mode">
      <a (click)="confirmPageExit()">Offline mode</a>
    </li>
  </ul>
</div>

<div class="navmenu" [class.nav-collapse]="!visible.get('room')">
  <app-room></app-room>
</div>
<div class="navmenu" [class.nav-collapse]="!visible.get('settings')">
  <app-settings></app-settings>
</div>
