#nav_settings {
  background : rgba(60, 60, 60, .9);
  color      : #ddd;
  padding    : 24px 48px;
}

#nav_settings .btn {
  background   : rgba(100, 100, 100, .5);
  border-color : #3a3a3a;
  color        : inherit;
}

#panner-field {

}
