h2 {
  margin      : 0 0 25px 0;
  color       : #cc9090;
  line-height : 1;
  text-shadow : #333 0 0 1px, #333 0 0 1px, #333 0 0 1px, #333 0 0 1px;
}

p {
  font-size : 16px;
  color     : #f5aaaa;
}
