.wrapper {
  background-color : #a4c798;
  transition       : inderit;
  cursor           : pointer;
}

.wrapper:hover {
  background-color : #92c78a;
}

.wrapper-wait {
  background-color : #aacabf;
}

.wrapper-wait:hover {
  background-color : #a2c0b6;
}
