<div class="sequencer">

  <div class="instruments">
    <div app-sequencer-instrument *ngFor="let instrument of instruments$ | async"
         [class.collapsed]="collapsed[instrument.id]"
         [instrument]="instrument"
         [collapsed]="collapsed"></div>
    <div app-sequencer-instrument-create></div>
  </div>

  <div #staff class="staff" (window:resize)="onResize()">
    <div *ngFor="let instrument of instruments$ | async"
         class="staff-instrument"
         [class.collapsed]="collapsed[instrument.id]">
      <div [innerHTML]="(notationSVG$ | async)[instrument.id] | safe: 'html'"></div>
    </div>
  </div>
</div>
