:host {
  height : 100%;
  width  : 100%;
}

.sequencer {
  position    : relative;
  transition  : height .3s, background-color .5s, visibility .3s, opacity .3s linear;
  height      : 100%;
  width       : 100%;
  white-space : nowrap;
}

.instruments {
  display    : inline-block;
  float      : left;
  transition : inherit;
}

.staff {
  display    : inline-block;
  position   : relative;
  min-height : 100%;
  overflow-x : visible;
  overflow-y : auto;
  transition : inherit;
}

@media (min-width : 992px) {
  .staff {
    display     : block;
    margin-left : 240px;
  }
}

.staff-instrument {
  height      : 250px;
  padding     : 0 30px;
  opacity     : 1;
  visibility  : visible;
  white-space : nowrap;
  transition  : inherit;
}

.staff-instrument.collapsed {
  opacity    : 0;
  visibility : hidden;
  height     : 30px;
}

/* /deep/ force style down through the child component tree. */
/deep/ g.rest,
/deep/ g.note {
  transition : fill 0.2s;
  cursor     : pointer;
}

/deep/ g.note:hover {
  fill : #564dff;
}

/deep/ g.rest:hover {
  fill : #564dff;
}

/deep/ g.playing {
  fill : #16de5c;
}

app-note-settings {
  position : absolute;
}
