.column {
  box-shadow : 0px 0px 15px 1px hsl(0, 0%, 24%);
}

.box-chat {
  border     : 1px solid hsla(0, 0%, 50%, 1);
  background : rgba(85, 85, 85, 0.85);
}

.box-messages {
  height     : 340px;
  overflow-y : auto;
}

.box-send {
  position   : relative;
  width      : 100%;
  padding    : 10px 4px;
  background : rgba(0, 0, 0, 0.1);
}

.box-send .btn-square {
  background-color : transparent;
  border           : none;
  border-left      : 1px solid #999;
  border-radius    : 0;
}

.box-send label {
  margin: auto 5px;
}

li {

}
