<div class="row">

  <div class="col-sm-2">
    <p>Users in room:</p>
    <ul>
      <li *ngFor="let user of (room | async)?.users">
        {{user.id}}
      </li>
    </ul>
  </div>

  <div class="col-sm-10">
    <div class="box-chat">

      <div #messages class="box-messages" (scroll)="onChatScroll()">
        <h1 *ngIf="isChatEmpty" class="center">
          No messages yet. Be the first to chat!
        </h1>
        <ul *ngIf="!isChatEmpty">
          <li *ngFor="let msg of chatMessages | async">
            {{msg.sender}}: {{msg.message}}
          </li>
        </ul>
      </div>

      <form (ngSubmit)="sendMessage(); messageForm.reset()" #messageForm="ngForm">
        <div class="box-send button-group">
          <label hidden for="messageText">Your message</label>
          <input type="text" id="messageText" autocomplete="off"
                 placeholder="Your message"
                 required
                 [(ngModel)]="myMessage" name="myMessage">
          <button type="submit" class="btn-square">
            <span class="glyphicon glyphicon-send"></span>
          </button>
        </div>
      </form>

    </div>
  </div>

</div>
