.popup {
  padding          : 30px 40px;
  background-color : aliceblue;
  border           : solid 1px black;
  border-radius    : 5px;
  min-width        : 30%;
  max-width        : 90%;
  margin           : auto;
}

.popup-text > h2 {
  margin-top : 5px;
}

.popup-text > p {
  font-size : 16px;
}

.btn-group {
  padding-top : 20px;
  float       : right;
}
