<div class="overlay center"
     [class.overlay-active]="popupService.isShown"
     (click)="close($event)">
  <div class="popup"
       *ngIf="popupService.isShown"
       (click)="$event.stopPropagation()">
    <app-instrument-settings
      *ngIf="popupService.isInstrument"
      [instrument]="popupService.instrument"></app-instrument-settings>
    <div *ngIf="!popupService.isInstrument">
      <p>{{popupService.message}}</p>
      <button (click)="close()">Close</button>
    </div>
  </div>
</div>
