<input *ngIf="type === 'text'"
       type="text"
       [disabled]="isDisabled"
       [attr.aria-labelledby]="labelId"
       [ngStyle]="styles"
       [maxlength]="maxLength"
       [placeholder]="placeholder"
       [autocomplete]="autocomplete"
       [name]="name"
       [(ngModel)]="value"
       (blur)="onBlur()"/>

<input *ngIf="type === 'number'"
       type="number"
       [disabled]="isDisabled"
       [attr.aria-labelledby]="labelId"
       [ngStyle]="styles"
       [min]="min"
       [max]="max"
       [step]="step"
       [name]="name"
       [ngModel]="value | number : numberPipeValue | numberPipeFix"
       (ngModelChange)="value=$event"
       (blur)="onBlur()"/>
