<div class="wrapper" [style.width.px]="keyboardWidth">

  <div class="well settings">

    <label>Instrument</label>

    <div class="button-group">

      <select [(ngModel)]="activeInstrument"
              (change)="onInstrumentChange()">
        <option *ngFor="let instrument of instruments" [ngValue]="instrument">{{instrument.name}}</option>
      </select>

      <div class="buttons">
        <div class="btn-square glyphicon-rotating" (click)="openSettings()">
          <span class="glyphicon glyphicon-cog"></span>
        </div>
      </div>

    </div>

  </div>

</div>
