:host {
  display        : flex;
  flex-direction : column;
  height         : 100%;
}

.content {
  display    : flex;
  margin-top : 45px;
  flex       : 1 1 auto;
  overflow   : auto;
}

.footer {
  flex : 0 0 auto;
}
