<svg>
  <text x="5" y="42" font-family="Verdana" font-size="12">{{state.index+1}}</text>

  <line x1="0" y1="55" x2="100%" y2="55" class="line"></line>
  <line x1="0" y1="65" x2="100%" y2="65" class="line"></line>
  <line x1="0" y1="75" x2="100%" y2="75" class="line"></line>
  <line x1="0" y1="85" x2="100%" y2="85" class="line"></line>
  <line x1="0" y1="95" x2="100%" y2="95" class="line"></line>
  <line x1="0" y1="55" x2="0" y2="95" class="line"></line>
  <line x1="100%" y1="55" x2="100%" y2="95" class="line"></line>

  <g app-note *ngFor="let note of notes"
     [note]="note"></g>
</svg>
