.glyphicon {
  top : 0;
}

.wrapper {
  height   : 0;
  position : relative;
  z-index  : 5;
}

.group {
  display          : inline-block;
  position         : relative;
  height           : 84px;
  padding          : 10px;
  top              : -84px;
  left             : 50%;
  opacity          : 1;
  background-color : rgba(240, 248, 255, 0.39);
  box-shadow       : -1px 3px 10px 1px #333;
  transform        : translateX(-50%);
  transition       : all .2s, top .3s;
}

.collapsed .group {
  top     : -40px;
  opacity : .7;
}

@media (max-width : 991px ) {
  .collapsed .group {
    position  : absolute;
    top       : -50px;
    left      : 100%;
    transform : translateX(-100%);
  }

  .collapsed .btn-staff-collapse {
    position : relative;
    top      : 0;
    right    : 0;
  }


  .collapsed .btn-staff-collapse:hover {
    top: 0;
  }
}

.btn-seq-foot {
  position         : relative;
  border-radius    : 50%;
  display          : inline-block;
  border           : 1px solid #333;
  cursor           : pointer;
  background-color : #fcfdff;
  box-shadow       : 0px 3px 4px 0px rgba(68, 45, 33, 0.5);
}

.btn-seq-foot:not(.inactive):hover {
  background-color : hsla(210, 96%, 99%, 1);
  box-shadow       : 0px 1px 2px 0px rgba(0, 0, 0, 0.5);
  top              : 2px;
}

.large {
  width     : 64px;
  height    : 64px;
  padding   : 13px 16px;
  font-size : 32px;
}

.medium {
  width     : 48px;
  height    : 48px;
  padding   : 11px 13px;
  font-size : 22px;
}

.small {
  width      : 32px;
  height     : 32px;
  padding    : 7px 8px;
  font-size  : 14px;
  box-shadow : 0px 2px 2px 0px rgba(68, 45, 33, 0.26);
}

.btn-seq-foot.inactive {
  background-color : hsl(204, 19%, 81%);
}

span.glyphicon.glyphicon-stop, span.glyphicon.glyphicon-step-forward {
  left : -2px;
}

.btn-staff-collapse {
  position : absolute;
  top      : 3px;
  right    : 3px;
}

.btn-seq-foot.btn-staff-collapse:hover {
  top : 4px;
}
