<div class="wrapper">
  <div class="container-title" (mouseup)="onMiniChange($event)">
    <h4>Keyboard
      <span class="title-arrow glyphicon"
            [class.glyphicon-collapse-up]="miniMode$ | async"
            [class.glyphicon-collapse-down]="!(miniMode$ | async)"></span>
    </h4>
  </div>

  <div id="keyboard" [class.mini]="miniMode$ | async">

    <app-keyboard-up [activeInstrument]="activeInstrument$ | async"
                     (instrumentChanged)="onInstrumentChange($event)"
                     [instruments]="instruments$ | async"
                     [keyboardWidth]="keyboardWidth">
    </app-keyboard-up>

    <div #keyboardKeys id="keyboard-keys"
         (touchstart)="onTouchStart($event)" (touchmove)="onTouchMove($event)"
         (touchend)="onTouchEnd($event)" (touchcancel)="onTouchCancel($event)">
      <app-keyboard-key *ngFor="let note of (notes$ | async)"
                        [attr.data-note-id]="note.id"
                        [note]="note"
                        [highlighted]="(highlights$ | async)[note.id]"
                        [selected]="(selections$ | async)[note.id]"
                        (keyStateUpdated)="onKeyStateUpdated($event)"></app-keyboard-key>
    </div>

  </div>
</div>
