<div class="wrapper">
  <div class="container-title"
       (mouseup)="onMiniChange($event)">
    <h4>Keyboard
      <span class="title-arrow glyphicon"
            [class.glyphicon-collapse-up]="miniMode"
            [class.glyphicon-collapse-down]="!miniMode"></span>
    </h4>
  </div>

  <div id="keyboard" [class.mini]="miniMode">

    <app-keyboard-up [activeInstrument]="activeInstrument"
                     (instrumentChanged)="onInstrumentChange($event)"
                     [instruments]="instruments"
                     [keyboardWidth]="keyboardWidth">
    </app-keyboard-up>

    <div #keyboardKeys id="keyboard-keys"
         (touchstart)="onTouchStart($event)" (touchmove)="onTouchMove($event)"
         (touchend)="onTouchEnd($event)" (touchcancel)="onTouchCancel($event)">
      <app-keyboard-key *ngFor="let note of notes"
                        [attr.data-note-id]="note.id"
                        [note]="note"
                        [highlighted]="highlights[note.id]"
                        [selected]="selections[note.id]"
                        (keyStateUpdated)="onKeyStateUpdated($event)"></app-keyboard-key>
    </div>

  </div>
</div>
