.well {
  margin : 0;
}

#instrumentCanvas {
  display : block;
}

.envelope {
  border-top  : solid #999 1px;
  padding-top : 5px;
}

#name {
  font-size        : 2em;
  padding-left     : 16px;
  margin-bottom    : 15px;
  height           : 50px;
  background-color : rgba(255, 255, 255, 0.2);
  transition       : background-color .3s;
}

#name:hover {
  background-color : rgba(255, 255, 255, 0.3);
}

#name:focus {
  background-color : #fff;
}
