.well {
  margin : 0;
}

#instrumentCanvas {
  display : block;
}

.envelope {
  border-top  : solid #999 1px;
  padding-top : 5px;
}

#name {
  font-family      : 'Courier New', monospace;
  font-size        : 1.5em;
  padding-left     : 16px;
  margin-bottom    : 15px;
  height           : 45px;
  background-color : rgba(255, 255, 255, 0.2);
  transition       : background-color .2s, color .2s;
}

#name:hover {
  background-color : rgba(255, 255, 255, 0.4);
}

#name:focus {
  background-color : #fff;
  color            : #333;
}
