<h2 class="center-hor">Instrument Settings</h2>

<label for="name">Name</label>
<input id="name" type="text" [(ngModel)]="instrument.name">

<div class="oscillators">
  <label>Oscillators</label>
  <app-oscillator-settings [instrument]="instrument"
                           [popupScrollTop]="popupScrollTop"></app-oscillator-settings>
</div>

<div class="row">
  <div class="col-md-6 panner">
    <label>Panner</label>
    <app-panner-settings [instrument]="instrument"
                         [popupScrollTop]="popupScrollTop"></app-panner-settings>
  </div>

  <div class="col-md-6 envelope">
    <label>Envelope</label>
    <app-envelope-settings [instrument]="instrument"
                           [popupScrollTop]="popupScrollTop"></app-envelope-settings>
  </div>
</div>
