html, body {
  height     : 100%;
  min-height : 100%;
}

body {
  font-family : "Open Sans", sans-serif;
  font-weight : 200;
}

h1, h2, h3 {
  font-family : Verdana, Geneva, sans-serif;
  font-weight : 500;
}

.center {
  display         : flex;
  height          : 100%;
  width           : 100%;
  margin          : 0;
  align-items     : center;
  justify-content : center;
}

.center-hor {
  margin-left  : auto;
  margin-right : auto;
  text-align   : center;
}

.glyphicon {
  top : 2px;
}

.overlay {
  z-index        : 999;
  position       : fixed;
  top            : 0;
  bottom         : 0;
  left           : 0;
  right          : 0;
  background     : rgba(0, 0, 0, 0.7);
  overflow-y     : auto;
  transition     : visibility .3s, opacity .3s;
  visibility     : hidden;
  opacity        : 0;
  pointer-events : none;
}

.overlay-active {
  visibility     : visible;
  opacity        : 1;
  pointer-events : auto;
}

div.start-overlay {
  background      : linear-gradient(123deg, hsla(228, 40%, 20%, 0.8), hsla(208, 40%, 20%, 0.8), hsla(180, 40%, 20%, 0.8));
  background-size : 600% 600%;
  animation       : startOverlayAnimation 15s ease infinite;
}

.start-overlay > div {
  background-color : rgba(240, 248, 255, 0.31);
  padding          : 30px;
  box-shadow       : 0 0 18px 1px aliceblue;
  border-radius    : 3px;
}

.start-overlay > div h1 {
  margin      : 0 0 25px 0;
  color       : white;
  line-height : 1;
}

.text-outline {
  text-shadow : #333 0 0 1px, #333 0 0 1px, #333 0 0 1px, #333 0 0 1px;
}

.well {
  background                 : rgba(0, 0, 0, .03);
  border-color               : rgba(0, 0, 0, .2);
  transition                 : background .3s, box-shadow .3s;
  transition-timing-function : ease-out;
  box-shadow                 : none;
}

.well:hover {
  background : rgba(0, 0, 0, .05);
  box-shadow : inset 0 0 8px 2px rgba(0, 0, 0, .05);
}

meter {
  width  : 100%;
  height : 1.35em;
}

meter::-webkit-meter-bar {
  font-size     : 0;
  border        : 1px solid black;
  border-radius : 1px;
  background    : rgba(240, 240, 240, .1);
}

meter::-webkit-meter-optimum-value {
  background    : #86CC00;
  border-radius : 1px;
}

meter::-webkit-meter-suboptimum-value {
  background    : #FFDB1A;
  border-radius : 1px;
}

meter::-webkit-meter-even-less-good-value {
  background    : #CC4600;
  border-radius : 1px;
}

input[type=range] {
  -webkit-appearance : none;
  margin             : 8px 0;
  height             : 22px;
  background         : transparent;
}

input[type=range]:focus {
  outline : none;
}

input[type=range]:focus::-webkit-slider-runnable-track {
  background : #367ebd;
}

input[type=range][disabled]::-webkit-slider-runnable-track {
  background : #aaa;
}

input[type=range][disabled]::-webkit-slider-thumb {
  background : #ddd;
}

input[type=range]::-webkit-slider-runnable-track {
  width      : 100%;
  height     : 8px;
  cursor     : pointer;
  background : #3071a9;
  border     : 1px solid #010101;
}

input[type=range]::-webkit-slider-thumb {
  box-shadow         : 1px 1px 1px #000000, 0 0 1px #0d0d0d;
  border             : 1px solid #000000;
  height             : 30px;
  width              : 16px;
  border-radius      : 3px;
  background         : #ffffff;
  cursor             : pointer;
  -webkit-appearance : none;
  margin-top         : -13px;
}

select {
  cursor : pointer;
}

select[disabled] {
  background : #ddd;
}

.button-group {
  display : inline-flex;
}

.button-group .buttons {
  display  : flex;
  position : absolute;
  right    : 0;
}

.btn-square {
  display          : inline-block;
  top              : 0;
  width            : 30px;
  height           : 30px;
  padding          : 0;
  border           : 1px solid #ccc;
  border-radius    : 4px;
  background-color : #fff;
  cursor           : pointer;
  transition       : .2s;
}

.btn-square span {
  top     : 0;
  padding : 7px;
}

.btn-square:hover {
  background-color : #e1e1e1;
}

/* Rotates child glyphicon on hover */

.glyphicon-rotating .glyphicon {
  transition : transform 1.5s;
}

.glyphicon-rotating:hover .glyphicon {
  transform : rotate(360deg);
}

select {
  width         : 100%;
  padding       : 0 35px 0 6px;
  border        : 1px solid #ccc;
  border-radius : 4px;
  height        : 30px;
}

select + .btn-square, select + .buttons .btn-square,
input + .btn-square, input + .buttons .btn-square {
  border-radius : 0 4px 4px 0;
}

@keyframes startOverlayAnimation {
  0% {
    background-position : 0 20%
  }
  50% {
    background-position : 100% 80%
  }
  100% {
    background-position : 0 20%
  }
}



/* Spinner */

.sk-circle {
  margin   : 50px auto;
  width    : 60px;
  height   : 60px;
  position : relative;
}

.sk-circle .sk-child {
  width    : 100%;
  height   : 100%;
  position : absolute;
  left     : 0;
  top      : 0;
}

.sk-circle .sk-child:before {
  content           : '';
  display           : block;
  margin            : 0 auto;
  width             : 15%;
  height            : 15%;
  background-color  : #92c3ae;
  border-radius     : 100%;
  animation         : sk-circleBounceDelay 1.2s infinite ease-in-out both;
}

.sk-circle .sk-circle2 {
  transform         : rotate(30deg);
}

.sk-circle .sk-circle3 {
  transform         : rotate(60deg);
}

.sk-circle .sk-circle4 {
  transform         : rotate(90deg);
}

.sk-circle .sk-circle5 {
  transform         : rotate(120deg);
}

.sk-circle .sk-circle6 {
  transform         : rotate(150deg);
}

.sk-circle .sk-circle7 {
  transform         : rotate(180deg);
}

.sk-circle .sk-circle8 {
  transform         : rotate(210deg);
}

.sk-circle .sk-circle9 {
  transform         : rotate(240deg);
}

.sk-circle .sk-circle10 {
  transform         : rotate(270deg);
}

.sk-circle .sk-circle11 {
  transform         : rotate(300deg);
}

.sk-circle .sk-circle12 {
  transform         : rotate(330deg);
}

.sk-circle .sk-circle2:before {
  animation-delay         : -1.1s;
}

.sk-circle .sk-circle3:before {
  animation-delay         : -1s;
}

.sk-circle .sk-circle4:before {
  animation-delay         : -0.9s;
}

.sk-circle .sk-circle5:before {
  animation-delay         : -0.8s;
}

.sk-circle .sk-circle6:before {
  animation-delay         : -0.7s;
}

.sk-circle .sk-circle7:before {
  animation-delay         : -0.6s;
}

.sk-circle .sk-circle8:before {
  animation-delay         : -0.5s;
}

.sk-circle .sk-circle9:before {
  animation-delay         : -0.4s;
}

.sk-circle .sk-circle10:before {
  animation-delay         : -0.3s;
}

.sk-circle .sk-circle11:before {
  animation-delay         : -0.2s;
}

.sk-circle .sk-circle12:before {
  animation-delay         : -0.1s;
}

@-webkit-keyframes sk-circleBounceDelay {
  0%, 80%, 100% {
    transform         : scale(0);
  }
  40% {
    transform         : scale(1);
  }
}

@keyframes sk-circleBounceDelay {
  0%, 80%, 100% {
    transform         : scale(0);
  }
  40% {
    transform         : scale(1);
  }
}
