:host {
  user-select : none;
}

label {
  display   : block;
  font-size : 1.2em;
}

.description {
  padding : 8px 8px 20px 8px;
}

.description p {
  font-family : monospace;
  font-size   : 0.9em;
  margin      : 0;
}

.oscillators {
  border-right : 1px solid #333;
}

.panner {
  padding-bottom : 10px;
  margin-bottom  : 10px;
  border-bottom  : 1px solid #333;
}

app-input-semitransparent {
  display : block;
}
