<label id="instr-name-label">Name</label>
<app-input-semitransparent
  class="ins-name"
  [type]="'text'"
  [(ngModel)]="instrument.name"
  [labelId]="'instr-name-label'"
  [placeholder]="'Enter instrument name'"
  [styles]="{ 'padding' : '0 16px' }">
</app-input-semitransparent>

<div class="row">

  <div class="col-md-8 oscillators">

    <label>Oscillators</label>
    <div class="description">
      <p>Create and change oscillators.</p>
      <p> - mouse left: select oscillator</p>
      <p> - mouse right: remove selected oscillator or add new one if no selection</p>
      <p> - mouse move: change frequency scale and gain of selected oscillator</p>
      <p> - mouse double click: change type of selected oscillator</p>
    </div>
    <app-oscillator-settings [instrument]="instrument">
    </app-oscillator-settings>

  </div>

  <div class="col-md-4">

    <!--
    <app-oscilloscope></app-oscilloscope>
    -->

    <div class="panner">
      <label>Panner</label>
      <div class="description">
        <p>Adjust instrument location on the scene. The darkest part of gradient indicates the observer point.</p>
      </div>
      <app-panner-settings [instrument]="instrument">
      </app-panner-settings>
    </div>

    <div class="envelope">
      <label>Envelope</label>
      <app-envelope-settings [instrument]="instrument">
      </app-envelope-settings>
    </div>

  </div>

</div>
