:host {
  transition : inherit;
}

.instrument {
  position         : relative;
  height           : 250px;
  padding          : 5px 10px;
  width            : 240px;
  border           : 1px solid #555;
  background-color : #f5f5f5;
  transition       : inherit;
}

.instrument.collapsed {
  height           : 30px;
  position         : relative;
  background-color : #ddd;
  box-shadow       : inset 0 0 8px 1px #ccc;
}

.name {
  text-align    : center;
  overflow      : hidden;
  text-overflow : ellipsis;
  padding-right : 35px;
}

.buttons {
  position : absolute;
  top      : 8px;
  right    : 10px;
}

.btn-collapse span {
  left : 1px;
}

.expand {
  cursor : pointer;
}

/* Description of an instrument */

.description {
  overflow : auto;
  height   : 200px;
}

.prop {
  font-weight : 600;
}

.oscillators .prop {
  color : #86a27c;
}

.oscillators .value {
  color : #91b086;
}

.oscillators .freq {
  color : #a27b6f;
}

.oscillators .gain {
  color : #866aa2;
}

.oscillators .type {
  color : #5fa2a2;
}

.envelope .prop {
  color : #608490;
}

.envelope .value {
  color : #6d87bf;
}

.panner .prop {
  color : #907c49;
}

.panner .value {
  color : #bfa460;
}
