<div class="instrument" [class.collapsed]="collapsed[instrument.id]">
  
  <div *ngIf="!collapsed[instrument.id]">
    
    <h4 class="name">{{instrument.name}}</h4>
    
    <div class="description">
      
      
      <div class="oscillators">
        <label>Oscillators:</label>
        <br>
        <span class="prop">Count:</span>
        <span class="value">{{instrument.oscillators.length}}</span>
        <table>
          <tr>
            <th>Frequency</th>
            <th>Gain</th>
            <th>Type</th>
          </tr>
          <tr *ngFor="let oscillator of instrument.oscillators">
            <td class="value freq">{{oscillator.freq | number: '1.2-2'}}</td>
            <td class="value gain">{{oscillator.gain | number: '1.2-2'}}</td>
            <td class="value type">{{oscillator.type}}</td>
          </tr>
        </table>
      </div>
      
      <div class="envelope">
        <label>Envelope:</label>
        <table>
          <tr>
            <td class="prop">Attack:</td>
            <td class="value">{{instrument.envelope.attack | number: '1.2-2'}}</td>
          </tr>
          <tr>
            <td class="prop">Decay:</td>
            <td class="value">{{instrument.envelope.decay | number: '1.2-2'}}</td>
          </tr>
          <tr>
            <td class="prop">Sustain:</td>
            <td class="value">{{instrument.envelope.sustain | number: '1.2-2'}}</td>
          </tr>
          <tr>
            <td class="prop">Release:</td>
            <td class="value">{{instrument.envelope.release | number: '1.2-2'}}</td>
          </tr>
        </table>
      </div>
      
      <div class="panner">
        <label>Panner:</label>
        <table>
          <tr>
            <td class="prop">X:</td>
            <td class="value">{{instrument.panner.x | number: '1.2-2'}}</td>
          </tr>
          <tr>
            <td class="prop">Y:</td>
            <td class="value">{{instrument.panner.y | number: '1.2-2'}}</td>
          </tr>
        </table>
      </div>
    
    </div>
    
    <div class="buttons">
      <div class="btn-square glyphicon-rotating" (click)="openSettings()">
        <span class="glyphicon glyphicon-cog"></span>
      </div>
      <div class="btn-square" (click)="toggleCollapse()">
        <span class="glyphicon glyphicon-collapse-up"></span>
      </div>
    </div>
  
  </div>
  
  <div *ngIf="collapsed[instrument.id]" class="expand">
    <div class="center-hor" (click)="toggleCollapse()">Expand</div>
  </div>

</div>
