<div class="instrument" [class.collapsed]="collapsed[instrument.id]">

  <div *ngIf="!collapsed[instrument.id]">
    <h4 class="name">{{instrument.name}}</h4>
    <div class="btn-square glyphicon-rotating" (click)="openSettings()">
      <span class="glyphicon glyphicon-cog"></span>
    </div>
    <div class="btn-square btn-collapse" (click)="toggleCollapse()">
      <span class="glyphicon glyphicon-collapse-up"></span>
    </div>
  </div>

  <div *ngIf="collapsed[instrument.id]" class="expand">
    <div class="center-hor" (click)="toggleCollapse()">Expand</div>
  </div>

</div>
