<div class="wrapper">
  
  <div class="row">
    
    
    <!-- Chat -->
    
    
    <div class="box-chat col-sm-10">
      
      <div #messages class="box-messages" (scroll)="onChatScroll()">
        <h1 *ngIf="isChatEmpty" class="center">
          No messages yet. Be the first to chat!
        </h1>
        <ul *ngIf="!isChatEmpty">
          <li *ngFor="let msg of chatMessages">
            <span class="sender">{{msg.sender}}</span>: {{msg.message}}
          </li>
        </ul>
      </div>
      
      <form (ngSubmit)="sendMessage()">
        
        <div class="box-form button-group">
          
          <label hidden for="messageText">Your message</label>
          
          <app-input-semitransparent
            id="messageText"
            class="navbar-theme"
            [type]="'text'"
            [autocomplete]="'off'"
            required
            placeholder="Your message"
            [name]="myMessage"
            [(ngModel)]="myMessage"
            [ngModelOptions]="{standalone: true}">
          </app-input-semitransparent>
          
          <div class="buttons" [class.btn-shown]="!!myMessage">
            <button type="submit" class="btn-square animation-delay-0">
              <span class="glyphicon glyphicon-send"></span>
            </button>
            <button class="btn-square animation-delay-1" (click)="clearMessage()">
              <span class="glyphicon glyphicon-remove"></span>
            </button>
          </div>
        
        </div>
      
      </form>
    
    </div>
    
    
    <!-- Room info -->
    
    
    <div class="box-users col-sm-2">
      
      <div>
        
        <form (ngSubmit)="changeRoomName()">
          
          <div class="room-name box-form button-group">
            
            <app-input-semitransparent
              id="roomName"
              class="navbar-theme"
              [type]="'text'"
              [autocomplete]="'off'"
              required
              placeholder="Room name"
              [name]="'roomname'"
              [styles]="{'padding-right':'8px'}"
              [(ngModel)]="roomName"
              (ngModelChange)="roomNameChanged=true"
              [ngModelOptions]="{standalone: true}">
            </app-input-semitransparent>
            
            <div class="buttons" [class.btn-shown]="roomNameChanged">
              <button type="submit" class="btn-square animation-delay-0">
                <span class="glyphicon glyphicon-ok"></span>
              </button>
              <button type="button" class="btn-square animation-delay-1" (click)="resetRoomName()">
                <span class="glyphicon glyphicon-remove"></span>
              </button>
            </div>
          
          </div>
        
        </form>
        
        <div class="user-count">
          <span>Users: </span>
          <span>{{(roomUsers$ | async)?.length}} / </span>
          <app-input-semitransparent
            [min]="1"
            [max]="32"
            [type]="'number'"
            [integer]="true"
            [dotted]="true"
            [ngModel]="(room$ | async)?.maxUsers"
            (ngModelChange)="onMaxUsersChanged($event)">
          </app-input-semitransparent>
          
          <div class="room-lock">
            
            <div *ngIf="(room$ | async)?.isLocked"
                 class="btn-square"
                 title="Unlock room to let other people enter."
                 (click)="onRoomLockChanged(false)">
              <span class="glyphicon glyphicon-lock"></span>
            </div>
            
            <div *ngIf="!((room$ | async)?.isLocked)"
                 class="btn-square"
                 title="Lock room to forbid people enter the room."
                 (click)="onRoomLockChanged(true)">
              <span class="glyphicon glyphicon-folder-open"></span>
            </div>
          
          </div>
        </div>
      
      </div>
      
      <ul>
        <li *ngFor="let user of (roomUsers$ | async)">
          {{user.name}}
        </li>
      </ul>
      
      <form (ngSubmit)="changeUserName()">
        
        <label for="userName" class="center-hor">Your username</label>
        
        <div class="box-form button-group">
          
          <app-input-semitransparent
            id="userName"
            class="navbar-theme"
            [type]="'text'"
            [autocomplete]="'off'"
            required
            placeholder="Your username"
            [name]="'myUsername'"
            [(ngModel)]="userName"
            (ngModelChange)="userNameChanged=true"
            [ngModelOptions]="{standalone: true}">
          </app-input-semitransparent>
          
          <div class="buttons" [class.btn-shown]="userNameChanged">
            <button type="submit" class="btn-square animation-delay-0">
              <span class="glyphicon glyphicon-ok"></span>
            </button>
            <button type="button" class="btn-square animation-delay-1" (click)="resetUsername()">
              <span class="glyphicon glyphicon-remove"></span>
            </button>
          </div>
        
        </div>
      
      </form>
    
    </div>
  
  
  </div>

</div>
